@font-face {
  font-family: 'resume-icons';
  src: url('resorces/fonts/resume-icons.eot?up73aj');
  src: url('resorces/fonts/resume-icons.eot?up73aj#iefix') format('embedded-opentype'),
    url('resorces/fonts/resume-icons.ttf?up73aj') format('truetype'),
    url('resorces/fonts/resume-icons.woff?up73aj') format('woff'),
    url('resorces/fonts/resume-icons.svg?up73aj#resume-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'resume-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-arrow-up:before {
  content: "\e901";
}

.icon-geo-point:before {
  content: "\e902";
}

.icon-mail:before {
  content: "\e903";
}

.icon-phone:before {
  content: "\e904";
}

/* ===================  contact - info"  ===================  */

body {
  width: 650px;
  margin: 40px auto;
  font-family: Helvetica Neue, Roboto;
  font-style: normal;
  font-weight: normal;
  color: #3F3F3F;
}

.contact-info {
  margin-bottom: 50px;
}

.contact-info .avatar {
  border-radius: 50%;
  float: left;
  margin-right: 25px;
}

.contact-info .name {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 8px;
}

.contact-info .position {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 27px;
}

.contact-info .contact {
  margin-bottom: 15px;
}

.contact-info .contact>[class^="icon-"] {
  font-size: 20px;
  margin-right: 30px;

}

.contact-info .contact .value {
  font-size: 19px;
  line-height: 17px;
  vertical-align: text-bottom;
}

.contact-info .contact .icon-geo-point~.value {
  text-transform: uppercase;
}

/* ===================  skills - info"  ===================  */

.skills,
.education,
.experience,
.additional-information {
  width: 650px;
  margin: 40px auto;
  margin-top: 20px;
}

.skills-item,
.education-item,
.experience-item,
.additional-information-item {
  border: 1px solid grey;
  margin-bottom: 10px;
}

.skills-title,
.education-title,
.experience-title,
.additional-information-title {
  display: block;
  position: relative;
  padding: 10px 15px;
  background-color: rgb(178, 178, 178);

  text-transform: uppercase;
}

.skills-input,
.education-input,
.experience-input,
.additional-information-input {
  width: 0;
  height: 0;

  -webkit-appearance: none;
  appearance: none;

  position: absolute;
}

.skills-input~.skills-text,
.education-input~.education-text,
.experience-input~.experience-text,
.additional-information-input~.additional-information-text {
  display: block;
}

.skills-text,
.education-text,
.experience-text,
.additional-information-text {
  display: none;

  padding: 10px 15px;
  font-size: 14px;
}

.skills-value,
.education-value,
.experience-value,
.additional-information-value {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
}